/EVA1_10_CUNA_ESFERICA/EVA1_10_CUNA_ESFERICA/build/
/EVA1_10_CUNA_ESFERICA/EVA1_10_CUNA_ESFERICA/nbproject/private/
/EVA1_11_CLASES_OBJETOS/EVA1_11_CLASES_OBJETOS/build/
/EVA1_11_CLASES_OBJETOS/EVA1_11_CLASES_OBJETOS/nbproject/private/
/EVA1_12_PENDIENTE/EVA1_12_PENDIENTE-Java/build/
/EVA1_12_PENDIENTE/EVA1_12_PENDIENTE-Java/nbproject/private/
/EVA1_12_PENDIENTE/EVA1_12_PENDIENTE_Python/nbproject/private/
/EVA1_13_FRACCIONES/EVA1_13_FRACCIONES-Java/build/
/EVA1_13_FRACCIONES/EVA1_13_FRACCIONES-Java/nbproject/private/
/EVA1_13_FRACCIONES/EVA1_13_FRACCIONESPython/nbproject/private/
/EVA1_2_FUNDAMENTOS_1-Java/build/
/EVA1_2_FUNDAMENTOS_1-Java/nbproject/private/
/EVA1_6_TIPOS_DE_DATOS/EVA1_6_TIPOS_DE_DATOS/nbproject/private/
/EVA1_7_TIPOS_PRIMITIVOS/EVA1_7_TIPOS_PRIMITIVOS-Java/build/
/EVA1_7_TIPOS_PRIMITIVOS/EVA1_7_TIPOS_PRIMITIVOS-Java/dist/
/EVA1_7_TIPOS_PRIMITIVOS/EVA1_7_TIPOS_PRIMITIVOS-Java/nbproject/private/
/EVA1_7_TIPOS_PRIMITIVOS/EVA1_7_TIPOS_PRIMITIVOS_Python/nbproject/private/
/EVA1_9_AREAS/EVA1_9_AREAS-Java/build/
/EVA1_9_AREAS/EVA1_9_AREAS-Java/nbproject/private/
/EVA1_9_AREAS/EVA1_9_AREAS-Python/nbproject/private/
/EVA_1_1_HOLA_MUNDO/EVA_1_1_HOLA_MUNDO-ALEJANDRA-JAVA/build/
/EVA_1_1_HOLA_MUNDO/EVA_1_1_HOLA_MUNDO-ALEJANDRA-JAVA/nbproject/private/
/EVA_1_3_TIPOS_DATOS-Java/nbproject/private/
/EVA_1_8_FORMULA_DISTANCIA  (Movimiento Rectilineo)/EVA1_8_FORMULA_DISTANCIA-Python/nbproject/private/
/EVA_1_8_FORMULA_DISTANCIA  (Movimiento Rectilineo)/EVA1_8_FORMULA_DISTANCIA-java/EVA1_8_FORMULA_DISTANCIA/build/
/EVA_1_8_FORMULA_DISTANCIA  (Movimiento Rectilineo)/EVA1_8_FORMULA_DISTANCIA-java/EVA1_8_FORMULA_DISTANCIA/nbproject/private/
/EVA_5_TIPOS_DATOS/EVA_5_TIPOS_DATOS/build/
/EVA_5_TIPOS_DATOS/EVA_5_TIPOS_DATOS/nbproject/private/
/EVA_5_TIPOS_DATOS/EVA_5_TIPOS_DATOS_PRIMITIVOS/build/
/EVA_5_TIPOS_DATOS/EVA_5_TIPOS_DATOS_PRIMITIVOS/nbproject/private/